<div class="modal-body">

  <div class="mb-3 <%= validation_status user, :name %>">
    <%= f.label :name, "Name*", class: 'form-label' %>
    <%= f.text_field :name, class: "form-control",
        data: { reflex: "debounced:input->Validations#validate", reflex_dataset: 'combined', modal_user: user.id, reflex_permanent: true } %>
    <%= validation_message user, :name %>
  </div>

  <div class="mb-3 <%= validation_status user, :email %>">
    <%= f.label :email, "Email*", class: 'form-label' %>
    <%= f.email_field :email, class: "form-control",
        data: { reflex: "debounced:input->Validations#validate", reflex_dataset: 'combined', reflex_permanent: true } %>
    <%= validation_message user, :email %>
  </div>

  <div class="mb-3>">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: "form-control",
        data: { reflex_permanent: true } %>
  </div>

  <div class="mb-3 <%= validation_status user, :phone %>">
    <%= f.label :phone, 'Phone*', class: 'form-label' %>
    <%= f.text_field :phone, class: "form-control",
        data: { reflex: "debounced:input->Validations#validate", reflex_dataset: 'combined', reflex_permanent: true } %>
    <%= validation_message user, :phone %>
  </div>

  <div class="mb-3 form-check">
    <%= f.check_box :active, class: 'form-check-input' %>
    <%= f.label :active, class: 'form-check-label', data: { reflex_permanent: true } %>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  <%= f.submit user.valid? ? "Submit" : "Awaiting valid input...",
      class: "btn #{ user.valid? ? 'btn-primary' : 'btn-secondary'}",
      disabled: user.invalid?,
      data: { disable_with: "Adding..." } %>
</div>
