<div id="search-results">
  <div class="w-100 d-flex justify-content-end">
    <p class="lead"><%= @pagy.count %> records</p>
  </div>
  <% if @pagy.count > 0 %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="bg-info">
          <tr>
            <%= content_tag :th, class: column_css(:updated_at) do %>
              <%= button_tag "Last updated", type: 'button', class: "btn btn-order#{arrow :updated_at, 'amount-down', 'amount-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :updated_at, direction: direction } %>
            <% end %>
            <%= content_tag :th, class: column_css(:name) do %>
              <%= button_tag "Name", type: 'button', class: "btn btn-order#{arrow :name, 'alpha-down', 'alpha-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :name, direction: direction } %>
            <% end %>
            <%= content_tag :th, class: column_css(:email) do %>
              <%= button_tag "Email", type: 'button', class: "btn btn-order#{arrow :email, 'alpha-down', 'alpha-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :email, direction: direction } %>
            <% end %>
              <%= content_tag :th, class: column_css(:title) do %>
              <%= button_tag "Title", type: 'button', class: "btn btn-order#{arrow :title, 'alpha-down', 'alpha-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :title, direction: direction } %>
            <% end %>
                <%= content_tag :th, class: column_css(:phone) do %>
              <%= button_tag "Phone", type: 'button', class: "btn btn-order#{arrow :phone, 'numeric-down', 'numeric-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :phone, direction: direction } %>
            <% end %>
            <%= content_tag :th, class: column_css(:active) do %>
              <%= button_tag "Status", type: 'button', class: "btn btn-order#{arrow :active, 'numeric-down', 'numeric-up'}",
                  data: { reflex: "click->TabularReflex#order", column_name: :active, direction: direction } %>
            <% end %>
            <th class="edit-column"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr data-controller="tabular" data-tabular-id="<%= user.id %>">
              <td><%= user.updated_at.to_formatted_s(:short) %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.title %></td>
              <td><%= user.phone %></td>
              <td><%= active_status(user) %></td>
              <td class="actions">
                <%= button_tag type: 'button', class: 'btn btn-success btn-sm btn-change', data: {reflex: 'click->Modal#append_form', modal_user: user.id, bs_toggle: 'modal', bs_target: '#user-modal'} do %>
                  <%= image_pack_tag "media/src/img/edit-regular.svg" %>
                <% end %>
                <%= button_tag type: 'button', class: 'btn btn-danger btn-sm btn-change', data: {action: 'tabular#destroy'} do %>
                  <%= image_pack_tag "media/src/img/trash-alt-regular.svg" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render "paginator" if @pagy.pages > 1 %>
  <% end %>
</div>
